<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Vehicle Insurance</title>
</head>

<body>

    <div class="formrow">
        <div class="formmain">


            <div class="formcard" *ngIf='showRegisterForm'>
                <h2 style="text-align: center; ">Fill Details Of Your Vehicle</h2><br><br>
                <form #vehicleRegisterForm='ngForm' (ngSubmit)='showform2()'>
                    <div class="formcontainer">
                        <label for="registrationNo" class="labels "><b>Registration number</b></label><br>
                        <input type="text" placeholder="Enter the Registration number * " name="registrationNo" [(ngModel)]="vehicle.registrationNumber" minlength="9" maxlength="10" required #registrationNoControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="registrationNoControl.invalid && registrationNoControl.touched"> 
                            <b>Registration Number Invalid</b>
                        </span> <br> 
                        <label for="color" class="labels "><b>Color of the vehicle</b></label><br>
                        <input type="text" placeholder="Enter color " name="color" [(ngModel)]="vehicle.vehicleColour" required #colorControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="colorControl.invalid && colorControl.touched"> 
                            <b>Color is Required</b>
                        </span> <br>
                        <label for="vehicleType" class="labels" ><b>Type of the vehicle</b></label><br><br>
                        <div>
                            <input type="radio" id="twoWheeler" name="vehicleType" value="Two Wheeler" [(ngModel)]="vehicle.vehicleType" required>
                            <label for="vehicleType">2 Wheeler</label><br>
                            <input type="radio" id="fourWheeler " name="vehicleType" value="Four Wheeler" [(ngModel)]="vehicle.vehicleType" required>
                            <label for="vehicleType">4 Wheeler</label>
                        </div><br>

                        <label for="model"><b>Car Model</b></label><br>
                        <input type="text" placeholder="Enter model" name="model" [(ngModel)]="vehicle.vehicleModel" required #modelControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="modelControl.invalid && modelControl.touched"> 
                            <b>Car Model is Required</b>
                        </span> <br>
                        <label for="purchaseDate" class="labels"><b>Purchase Date</b></label><br>
                        <input type="date" placeholder="Enter purchase date " name="purchaseDate" [(ngModel)]="vehicle.vehiclePurchaseDate" max={{FromDate}} required #purchaseDateControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="purchaseDateControl.invalid && purchaseDateControl.touched"> 
                            <b>Field is Empty</b>
                        </span> <br>
                        <label for="manufacturer" class="labels"><b>Manufacturer</b></label><br>
                        <input type="text" placeholder="Enter Manufacturer" name="manufacturer" [(ngModel)]="vehicle.vehicleManufacturer" required #manufacturerControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="manufacturerControl.invalid && manufacturerControl.touched"> 
                            <b>Field is Empty</b>
                        </span> <br>
                        <label for="engineNo" class="labels"><b>Engine Number</b></label><br>
                        <input type="text" placeholder="Enter engine number " name="engineNo" [(ngModel)]="vehicle.vehicleEngineNumber" required #engineNoControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="engineNoControl.invalid && engineNoControl.touched"> 
                            <b>Field is Empty</b>
                        </span> <br>
                        <label for="chassisNo" class="labels"><b>Chassis Number</b></label><br>
                        <input type="text" placeholder="Enter chassis number " name="chassisNo" [(ngModel)]="vehicle.vehicleChassisNumber" required #chassisNoControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="chassisNoControl.invalid && chassisNoControl.touched"> 
                            <b>Field is Empty</b>
                        </span> <br>
                        <label for="vehicleCost" class="labels"><b>Vehicle Cost</b></label><br>
                        <input type="number" placeholder="Enter vehicle cost " name="vehicleCost" id="vehicleCost" [(ngModel)]="vehicle.vehicleCost" min="40000" max="50000000" required #vehicleCostControl="ngModel"><br><br>
                        <span style="color: red;" *ngIf="vehicleCostControl.invalid && vehicleCostControl.touched"> 
                            <b>Invalid Entry</b>
                        </span> <br>

                      <button class="buttons" [disabled]="vehicleRegisterForm.invalid" type="submit" ><h2> Submit</h2></button>
                        
                      <br><br>
                      <h3 *ngIf='showMessage' style="color: red;">{{message}}</h3>
                    
                     </div>
                </form>
            </div>
            <div class="formcard" *ngIf='showPlanForm'>
                <form #insurancePlanForm='ngForm'>
                    <div class="formcontainer">
                        
                        <div class="Form-radio" *ngFor='let p of policy'>
                            <h1><input type="radio" name="policyId" value={{p.insurancePlanId}} [(ngModel)]=buyinsurance.insurancePlanId required> <br>
                            <label for="policyId" class="labels">{{p.insurancePlan}}</label></h1><br>
                            <h2 style="color: khaki;">Maximum Coverage Amount : {{(p.insuranceCoverageAmount*vehicle.vehicleCost)/100}}</h2>
                        </div>
                        <label for="duration"><b>Insurance Duration</b></label><br>
                        <select id="duration" name="duration" [(ngModel)]=buyinsurance.duration required>
                        <option value=1>1 Year 
                        <option value=2>2 Year 
                        <option value=3>3 Year
                        </select><br><br>
                        
                        <div *ngIf='showPremium'>
                        <label for="insurancePremium" class="labels" style="color: black;"><b><h1>Premium</h1></b></label>
                        <h2>&#8377;{{buyinsurance.insurancePremium}}.00/-</h2><br>
                        </div>
                        
                        <!-- {{buyinsurance.insurancePlanId}}
                        {{buyinsurance.duration}} -->

                        <button class="buttons" type="submit" [disabled]="insurancePlanForm.invalid" (click)='calcPremium()'><h2> Calculate Premium</h2></button>
                        <button class="buttons" type="submit" [disabled]="insurancePlanForm.invalid" (click)='buyInsurance()'><h2> Buy Insurance</h2></button>
                    </div>
                </form> 
            </div>
        </div>
    </div>



</body>

</html>