<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Vehicle Insurance</title>
</head>

<body>

   



    <div class="formrow">
        <div class="formmain">


            <div class="formcard" *ngIf='showRegisterForm'>
                <h2 style="text-align: center; ">Fill Details Of Your Vehicle</h2><br><br>
                <form #vehicleRegisterForm='ngForm' (ngSubmit)='showform2()'>
                    <div class="formcontainer">
                        <label for="registrationNo" class="labels "><b>Registration number</b></label><br>
                        <input type="text" placeholder="Enter the Registration number * " name="registrationNo" [(ngModel)]="vehicle.registrationNumber" required><br><br>

                        <label for="color" class="labels "><b>Color of the vehicle</b></label><br>
                        <input type="text" placeholder="Enter color " name="color" [(ngModel)]="vehicle.vehicleColour" required><br><br>

                        <label for="vehicleType" class="labels" ><b>Type of the vehicle</b></label><br><br>
                        <div>
                            <input type="radio" id="twoWheeler" name="vehicleType" value="Two Wheeler" [(ngModel)]="vehicle.vehicleType" required>
                            <label for="vehicleType">2 Wheeler</label><br>
                            <input type="radio" id="fourWheeler " name="vehicleType" value="Four Wheeler" [(ngModel)]="vehicle.vehicleType" required>
                            <label for="vehicleType">4 Wheeler</label>
                        </div><br>

                        <label for="model"><b>Model</b></label><br>
                        <input type="text" placeholder="Enter model * " name="model" [(ngModel)]="vehicle.vehicleModel" required><br><br>


                        <label for="purchaseDate" class="labels"><b>Purchase Date</b></label><br>
                        <input type="date" placeholder="Enter purchase date " name="purchaseDate " [(ngModel)]="vehicle.vehiclePurchaseDate" required><br><br>


                        <label for="manufacturer " class="labels"><b>Manufacturer</b></label><br>
                        <input type="text" placeholder="Enter Manufacturer " name="manufacturer " [(ngModel)]="vehicle.vehicleManufacturer" required><br><br>


                        <label for="engineNo " class="labels"><b>Engine Number</b></label><br>
                        <input type="text" placeholder="Enter engine number " name="engineNo " [(ngModel)]="vehicle.vehicleEngineNumber" required><br><br>


                        <label for="chassisNo " class="labels"><b>Chassis Number</b></label><br>
                        <input type="text" placeholder="Enter chassis number " name="chassisNo " [(ngModel)]="vehicle.vehicleChassisNumber" required><br><br>


                        <label for="vehicleCost " class="labels"><b>Vehicle Cost</b></label><br>
                        <input type="number" placeholder="Enter vehicle cost " name="vehicleCost " [(ngModel)]="vehicle.vehicleCost" required><br><br>



                      <button class="buttons" [disabled]="vehicleRegisterForm.invalid" type="submit" ><h2> Submit</h2></button>
                    </div>
                </form>
            </div>
            <div class="formcard" *ngIf='showPlanForm'>
                <form #insurancePlanForm='ngForm'>
                    <div class="formcontainer">
                        
                        <div class="Form-radio" *ngFor='let p of policy'>
                            <h1><input type="radio" name="policyId" value={{p.insurancePlanId}} [(ngModel)]=buyinsurance.insurancePlanId required>
                            <label for="policyId " class="labels">{{p.insurancePlan}}</label></h1><br>
                            <h2>Maximum Coverage Amount : {{(p.insuranceCoverageAmount*vehicle.vehicleCost)/100}}</h2>
                        </div>
                        <label for="duration"><b>Insurance Duration</b></label><br>
                        <select id="duration" name="duration" [(ngModel)]=buyinsurance.duration required>
                        <option value=1>1 Year 
                        <option value=2>2 Year 
                        <option value=3>3 Year
                        </select><br><br>
                        
                        <div *ngIf='showPremium'>
                        <label for="insurancePremium" class="labels"><b><h2>Premium</h2></b></label>
                        <h3>{{buyinsurance.insurancePremium}}</h3><br>
                        </div>
                        
                        <!-- {{buyinsurance.insurancePlanId}}
                        {{buyinsurance.duration}} -->

                        <button class="buttons" type="submit" [disabled]="insurancePlanForm.invalid" (click)='calcPremium()'><h2> Calculate Premium</h2></button>
                        <button class="buttons" type="submit" [disabled]="insurancePlanForm.invalid" (click)='buyInsurance()'><h2> Buy Insurance</h2></button>
                    </div>
                </form> 
            </div>
        </div>
    </div>



</body>

</html>