<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   

   <div class="formrow">
        <div class="formmain">


            <div class="formcard">
                <h2 style="text-align: center; ">Claim Your Request</h2><br><br>
                <form #vehicleRegisterForm='ngForm'>
                    <div class="formcontainer">
                        <div *ngIf="polDiv">
                        <label for="policy Id" class="labels "><b>Policy Id</b></label><br>
                        <div>
                        <input type="text" id="policy" name="id" [(ngModel)]=claim.policyId required>
                        </div><br><br>
                    
                        <button class="buttons " type="submit "(click)="check()"[disabled]="vehicleRegisterForm.invalid"><h2>Check</h2> </button>
                        </div>
                        
                        <h2 *ngIf='showerr' style="color: red;">{{errMsg}}</h2>
                        
                        <div *ngIf="visible">
                        <label for="DateOfIncident" class="labels"><b>Date of Incident</b></label><br>
                        <div>
                        <input type="date" id="Incident" name="DateOfIncident" [(ngModel)]=claim.dateOfIncident max={{FromDate}} required>
                        </div><br><br>
                      

                      
                        <label for="ClaimDate" class="labels "><b>Claim Date</b></label><br>
                        <div>
                        <input type="date" id="Incident" name="DateOfIncident" [(ngModel)]=claim.claimDate min={{FromDate}} max={{FromDate}} required>
                        </div><br><br>
                       
                       

                        <label for="Reason" class="labels "><b>Reason for claim</b></label><br><br>
                        <div>
                            <select name="Reason" id="Reason" [(ngModel)]=claim.reason required>
                                <option value="NaturalDisaster">Natural Disaster</option>
                                <option value="Man-MadeDisaster">Man-Made Disaster</option>
                                <option value="RoadAccident">Road Accident</option>
                                <option value="Theft">Theft</option>
                              </select>
                        </div><br><br>
                        
                            <label for="Elaborate"><b>Elaborate Reason</b></label><br> 
                            <textarea  type="text" id="reason" name="reason" placeholder="Elaborate your reason" rows="2" cols="20" required [(ngModel)]=claim.elaborateReason required>
                            </textarea><br><br> 
                            <label for="Amount"><b>Claim Amount</b></label><br> 
                            <input  type="number" id="amt" name="am" placeholder="Claim Ammount" rows="2" cols="20" required [(ngModel)]=claim.claimAmount required>
                        <br><br> 


                         <button class="buttons " type="submit " (click)="register()"[disabled]="vehicleRegisterForm.invalid"><h2>Submit</h2> </button>
                    </div>
                  </div>
                  <div class="sucmsg" *ngIf="sucsMsg">
                  <h3 style="text-align: center;">Claim registered with claimId {{id}}</h3>
                </div>
                </form>
            </div>
        </div>
    </div>
    







  
   


</body>

</html>