* {
  box-sizing: border-box;

  /* it will be a box and content will be adjusted*/
}

body {
 
  font-family: Verdana, Geneva, Tahoma, sans-serif;

   background-image: url(../../assets/red.jpg);
  font-size: larger;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.formcard {
  border: 2px ridge;
  border-radius: 100px;
 background-color: rgb(236, 235, 229,0.8); 

  padding: 5px;
  margin-top: 150px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 350px;
  
}



.formmain {
  width: 80%;
  margin: auto;
}

.formcontainer {
  padding: 16px;
  width: 350px;
  margin: auto;
  text-align: center;
  font-size: large;
}            
.buttons {
  background-color: rgb(235, 148, 19);
  color: black;
  padding: 6x 10px;
  margin: 8px 0;
  border: 2px ridge;
  border-radius: 40px;
  cursor: pointer;
  width: 80%;
}
/* Full-width inputs */
#checkList{
  width: 100%;
  background-color: whitesmoke;
  padding: 12px 20px;
  margin: 8px 0;
  border: 5px outset;
  border-radius: 25px;
  box-sizing: border-box;
}

input[type=text],input[type=number], select,textarea,:placeholder-shown {
  width: 100%;
  background-color: whitesmoke;
  padding: 12px 20px;
  margin: 8px 0;
  border: 5px outset;
  border-radius: 25px;
  box-sizing: border-box;
}
input.ng-invalid.ng-touched {
  border-color: red;
}
select.ng-invalid.ng-touched {
  border-color: red;
}
.buttons[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
input:focus,
select {
  outline: none;
}

.buttons:focus {
  outline: none;
}

.buttons:hover {
  background-color: green;
}