<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <div class="formrow">
    <div class="formmain">
      <div class="formcard">
        <h2 style="text-align: center; ">Renew Your Policy</h2><br><br>
        <form #renewForm='ngForm' (ngSubmit)="renew(renewForm)">
          <div class="formcontainer" *ngIf='first'>


            <label for="policyId " class="labels"><b>Policy Id</b></label><br>
            <input type="text" name="policyId" [(ngModel)]="policyId.insurancePolicyId" required maxlength="5" #policyIdControl="ngModel">
            <span style="color: red;" *ngIf="policyIdControl.invalid && policyIdControl.touched"> 
              <b>Policy ID is required!</b>
              </span><br><br>
         

            <button [routerLink]="['/renewLink']" (click)="myFunc()" [disabled]="renewForm.invalid" type="submit" class="buttons" >
              <h2>Click</h2>
            </button>
            <br>
          </div>
          <h3 *ngIf='showerr1' id="errorSpan"><b> Invalid Policy Id.</b> </h3>
          <h3 *ngIf='showerr2' id="errorSpan"><b>This policy is not registered with you.</b> 
          </h3>
         
          

          <div class="formcontainer" *ngIf='show'>
            <label for="username " class="labels"><b>User Name</b></label><br>
            <input type="text" placeholder="userName " name="userName" [(ngModel)]="userName"  disabled><br><br>

            <label for="policyName " class="labels"><b>Policy Name</b></label><br>
            <input type="text" name="policyName" [(ngModel)]="policyName"  disabled><br><br>


            <label for="policyType " class="labels"><b>Policy Type</b></label><br>
            <input type="text" placeholder="policyType" name="policyType" [(ngModel)]="policyType"  disabled><br><br>

            <label for="Duration"  class="labels " required><b>Duration</b></label><br><br>
            <div>
              <select id="checkList" name="Duration" placeholder="Select Duration"   [(ngModel)]="policyId.insuranceDuration"  #durationControl="ngModel"> 
                
                <option class="option" value="1">1 Year</option>
                <option class="option" value="2">2 Year</option>
                <option class="option" value="3">3 Year</option>

              </select>
              
            </div>
            <span style="color: red;" *ngIf="durationControl.invalid && durationControl.touched"> 
              <b>Duration is required!</b>
              </span><br><br>


            <button [routerLink]="['/renewLink']" (click)="myFunc2()" [disabled]="renewForm.invalid" class="buttons" >
              <h2>Submit</h2>
            </button>
         </div>



          <div class="formcontainer" *ngIf='showm'>
            <p> <b>Thank you! Your Insurance is extended by {{duration| date: 'dd-MM-yyyy'}}. </b></p>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

</html>