<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      
</head>

<body>
   <div class="formrow">
        <div class="formmain">
            <div class="formcard">
                <h2 style="text-align: center; ">Renew Your Policy</h2><br><br>
                <form>
                    <div class="formcontainer">
                                        
                      <label for="policyId " class="labels"><b>Policy Id</b></label><br>
                      <input  placeholder="12458 " id="policyId" ><br><br>


                      <button class="buttons " type="submit "><h2>Click </h2> </button>
                      <br>



                      <label for="username " class="labels"><b>User Name</b></label><br>
                      <input  placeholder="Shabdita Yadav " id="policyId" ><br><br>


                       
                      <label for="policyType " class="labels"><b>Policy Type</b></label><br>
                      <input  placeholder="Motor Insurance" id="policyId" ><br><br>


                      <label for="policyName " class="labels"><b>Policy Name</b></label><br>
                      <input  placeholder="Premium policy" id="policyId" ><br><br>
                      
                   

                       

                        <label for="Reason" class="labels "><b>Duration</b></label><br><br>
                        <div>
                            <select name="Reason" id="Reason">
                                <option value="selectDuration">Select Duration</option>
                                <option value="1 Year">1 Year</option>
                                <option value="2 Year">2 Year</option>
                                <option value="3 Year">3 Year</option>
                                
                              </select>
                        </div><br><br>
                        
                           

                         <button class="buttons " type="submit "><h2>Submit</h2> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

<p> Thankyou! Your Application is submitted</p>
</body>

</html>
  
    
   

 <!--<div *ngIf='show'>
    
        
            <label><b> User Name: </b> </label> 
          <p>Shabdita Yadav  </p> 
          
      
        
            <label><b>Policy Type: </b></label>
            <p>Motor Insurance</p>
          
            <label><b>Policy Plan: </b></label>
            <p> Premium Insurance</p>
          

          <label> <b>Duration: </b></label>
           <select  name="Duration">
            <option selected> select duration</option>
            <option > 1 year</option>
            <option> 2 year</option>
            <option> 3 year</option>
           
           
          </select> 
          <input type="text" name='Premium' disabled placeholder="Your premium">
          <button (click)="myFunc2()" id="bt">
            submit
        </button>
           
        </div>

<div *ngIf='showm'>
  <p> Thank you! your applicaiton is submitted</p>
</div>

</body>
</html>--> 
