<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="forgotpassword.css">
</head>

<body>
    <div>
        <div>
            <div class="formmain">
                <table class="tables">
                    <tr>
                        <td>
                            <div class="formcard">

                                <form #loginForm='ngForm' (ngSubmit)='login(loginForm)'>

                                    <div class="formcontainer">
                                        <h2 class="heading">Forgot password? No worries, let's create a new one!</h2>

                                        <div>
                                            <label for="emailId"><b>Enter your registered email</b></label><br>
                                            <input type="email" placeholder="Enter the email" id="emailId" required><br><br>

                                            <label for="emailId"><b>Enter the OTP sent to your registered email</b></label><br>
                                            <input type="text" placeholder="Enter the OTP" id="otp" required><br>
                                            <button class="buttons" type="submit" (click)="click()">Confirm email </button><br><br>

                                        </div>
                                        <div *ngIf="show" style="padding-top: 20px;">

                                            <label for="psw"><b>Enter the new password</b></label><br>
                                            <input type="password" placeholder="Enter Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$,@,!]).{8,}$" id="psw" required><br><br>


                                            <label for="psw1"><b>Confirm the new password</b></label><br>
                                            <input type="password" placeholder="Enter Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$,@,!]).{8,}$" id="psw1" required><br>

                                            <button class="buttons" type="submit" (click)="click1()">Submit the details </button>
                                        </div>

                                        <div *ngIf="show1" class="heading">
                                            <h2>Password Resetted successfully</h2>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td>
                            <img class="images" src="person2.jpg" alt=" ">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>