<div class="container">
    <div class="wrapper">
        <div class="payment">
            <h3>Total Amount:<span>  ₹</span>{{premium}}</h3>
            <br><br>
            <div class="form" *ngIf='showpaydetails'>
                <form #checkoutForm='ngForm' (ngSubmit)='showconfirmPayment()'>
                    <div class="card">
                        <label class="labelbox">Name on Card</label>
                        <input placeholder="WRITE IN CAPS " id="cardholdername" type="text" name="cardHolderName"  pattern="[A-Z]*" required class="input1" ngModel>
                        
                    </div>

                    <div class="card">
                        <label class="labelbox">Card number</label>
                        <input type="tel" class="input1" placeholder="1111 2222 3333 4444" name="userAccount" id="cardnumber" pattern="[0-9]*" minlength="16" maxlength="16"  required ngModel>
                        
                    </div>

                    <div class="card">
                        <label class="labelbox">Expiry</label>
                        <select id="expiry-month" name="expiryMonth" required ngModel>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span>/</span>
                        <select id="expiry-year" name="expiryYear" required ngModel>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                        </select>
                        <span class="error">Choose Valid Expiry Date</span>
                        <label id="cvvlabel" class="labelbox">CVC/CVV</label>
                        <input type="text" placeholder="123" id="cvv" name="cvv" pattern="[0-9]*" minlength="3" maxlength="3" required ngModel>
                        
                    </div>
                    <div class="pay-button">
                        <button type="submit" [disabled]='checkoutForm.invalid'>Pay</button>
                    </div>
                </form>
            </div>
            <div class="form2" *ngIf='showconfirm'>
                Confirm Payment..?
                <br><br>
                <div class="pay-button">
                    <button type="submit" (click)='completePayment()'>Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>