<body>

    <div class="heading">Claim Table</div>
    
    <table>
      <tr>
        <th>Claim Id</th>
        <th>Claim Date</th>
        <th>Date OfIncident</th>
        <th>Reason</th>
        <th>Elaborate</th>
        <th>Claim Ammount</th>
        <th>Status</th>
        <hr>
        
      </tr>
      <tr *ngFor="let c of list1">
        <td>{{c.claimId}}</td>
        <td>{{c.claimDate}}</td>
        <td>{{c.dateOfIncident}}</td>
        <td>{{c.reason}}</td>
        <td>{{c.elaborateReason}}</td>
        <td>{{c.claimAmount}}</td>
        <td>{{c.status}}</td>
        
      </tr>
    </table>
    
    </body>