

    <div class="row">
        <div class="main">
            <div class="card">
                
                <form>

                    <div class="container" *ngIf='first'>
                        <label for="uname"><b>Claim ID</b></label>
                        <input type="text" placeholder="Enter Claim ID" name="uname" id="uname">
                        <p id="userspan" style="color: crimson;"> </p>
                        
                        <button type="submit" (click)="showtable()">Submit</button>
                        
                    </div>
                    <div class="tableshow" *ngIf='showt'>
                        <table>
                            <tr>
                                <th>Claim ID</th>
                                <th>Claim Date</th>
                                <th>Policy ID</th>
                                <th>Reason</th>
                                <th>Incident</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>


