<div class="image-holder">
            <!-- <div class="image-holder-content">
                <p>YOU ARE IN SAFE HANDS</p> -->
        </div>

        <div class="dblue">
            <h1>Benefits of LTI Insurance</h1>
            <h4>Explore your options. Verify the best value. Love peace of mind.</h4>
        </div>

        <div class="benefits">
            <div class="benefits-child">
                <img src="../../assets/1.JPG" class="benefits-img">
                <h2>5 Minutes Policy Issuance</h2>
                <h3>Say no to spending hours and days in queues doing the paperwork for your insurance policy. Get your policy issued instantly with InsuranceDekho. The entire process from selecting the best insurance policy to getting it issued takes just 5 minutes on InsuranceDekho.</h3>
            </div>
            
            <div class="benefits-child">
                <img src="../../assets/2.JPG" class="benefits-img2">
                <h2>Over 3 Lakh Happy Customers</h2>
                <h3>LTI Insurance is becoming a household name in India. Till now we have been successful in providing a delightful experience to more than 3 lakh customers with the help of our transparent and quick process, a dedicated support team along with the availability of numerous insurers.</h3>
            </div>
            
            <div class="benefits-child">
                <img src="../../assets/3.JPG" class="benefits-img">
                <h2>Dedicated Support Team</h2>
                <h3>Our dedicated support team is available for your assistance all the 7 days. Feel free to reach out to us in case of any confusion - be it related to the purchase of an insurance policy or assistance during the settlement of a claim, our team of experts is at your service all days.</h3>
            </div>
        </div>
       
        <div></div>
        <div class="slider-text">Customer's Review</div>
        <div class="slider">
            
            <div class="slide"><h2>"Really Satisfied with the service provided on this platform, just love the experience"</h2></div>
            <div class="slide"> <h2>"Amazing experince and really good service"</h2></div>
            <div class="slide"><h2>"Have been a customer for many years, our claim was kept open until all our refunds came back from tour."</h2></div>
            <div class="slide"><h2>"Have insured here over several years now. Applying remains simple and the cover is still great value."</h2></div>
            <div class="slide"><h2>"Easy to set up. Easy to claim online when we supplied all the details required. Easy to clarify any questions."</h2></div>
            <div style="font-size: 1px;">.</div>
          </div>