<body>
<h1>Contact Us</h1>
<div class="press">
    <br><br>
    <h2>Customer Service</h2>
    <div  id="first-press">
        <h3>REGISTERED OFFICE ADDRESS</h3>
        <hr>
        <h4>Royal Sundaram General Insurance Co. Limited</h4>
        <h4>No.21 , Patullos Road ,</h4>
        <h4>Chennai - 600 002</h4>
        <h4>Customer care:- +91-9643752824</h4>
    </div>
    <div id="second-press">
        <h3>CORPORATE OFFICE ADDRESS</h3>
        <hr>
        <h4>Vishranthi Melaram Towers</h4>
        <h4>No.21 , Patullo</h4>
        <h4>Karapakkam , Chennai - 600097</h4>
        <h4>Customer care:- +91-9643752824</h4>
    </div>
 </div>
</body>