<body>
<h1>Contact Us</h1>
<div class="press">
    <br><br>
    <h2>Customer Service</h2>
    <div  id="first-press">
        <h3>REGISTERED OFFICE ADDRESS</h3>
        <hr>
        <h4>LTI  General Insurance Co. Limited</h4>
        <h4>Ballard Estate </h4>
        <h4>Mumbai- 400 001 </h4>
        <h4>Customer care:- +91 22 6776 6776</h4>
    </div>
    <div id="second-press">
        <h3>CORPORATE OFFICE ADDRESS</h3>
        <hr>
        <h4>LTI General Insurance Co.Limited </h4>
        <h4>Plot No. EL-200 ,Mahape Road</h4>
        <h4>Navi Mumbai, Maharashtra 400710</h4>
        <h4>Customer care:- 022 6795 4545</h4>
    </div>
 </div>
</body>