<body>
    

      
    <h1 class="head">About Larsen and Toubro Infotech Limited</h1>
<div class="row">
    <div class="main">
        <div class="card">
            <p>
                Larsen and Toubro General Insurance Co. Limited (formerly known as Larsen and Toubro Infotech Limited), is a global IT solutions and services company based in Mumbai, India. In 2017, NASSCOM ranked LTI as the sixth-largest Indian IT services company in terms of export revenues.
            </p>
            <p>
                Larsen and Toubro Infotech Limited, It was among the top 15 IT service providers globally in 2017, according to the Everest Group's PEAK Matrix for IT service providers.It employs standards of the Software Engineering Institute's (SEI) Capability Maturity Model Integration (CMMI) and is a Maturity Level 5 assessed organization.
                Founded as L&T Information Technology Ltd in December 1996, LTI is a wholly owned subsidiary of Larsen & Toubro Ltd (L&T).
            </p>
            <p>
               Larsen and Toubro Infotech Limited,During 2001–2002 the company's name was changed from Larsen and Toubro Information Technology Limited to Larsen & Toubro Infotech Limited and in the same year the company achieved the assessed level of SEI Level 5.Larsen and Toubro Infotech dropped the word 'Infotech' from its name to reflect the changed business environment and rebranded itself as 'LTI' with a tag line of 'Let's Solve' in May 2017.In 2016, LTI management revoked offer letter of few recruits after waiting for a period of 18 months. This caused some disruption in Chennai's IT Corridor and there was protest against the company's management in front of its Chennai office.
            </p>
            <p>
                Larsen and Toubro Infotech Limited has over 30000 employees with 4 branches across India . L&T Infotech Ltd. inaugurated its latest global delivery center in Johannesburg. The 30000+ sq. ft. state-of-the-art center with a capacity of 250 seats will help the company expand its operations in South Africa across all sectors.
            </p>
        </div>
        <div class="container">
        <div class="boxed1">
            <p class="updiv">420</p>
            <p class="indiv"> Clients across India</p>
          
        </div>
       
          <div class="boxed1">
            <p class="updiv">30000+</p>
            <p class="indiv">Employees across India</p>
          </div>
        
       
          <div class="boxed1">
            <p class="updiv">4</p>
            <p class="indiv">Branches across India</p>
          </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br>


<div class="press">
    <br><br>
    <h2>Press Release</h2>
    <div  id="first-press">
        <h3>Larsen and Toubro Infotech is a provider of application development, data security and other IT consulting services.</h3>
        <h4>July 28, 2016</h4>
        <h4>LTI is headquartered in Mumbai, Maharashtra. Sanjay Jalona is the CEO of LTI. LTI's main competitors are Infosys, Wipro and HCL. As of August 2019, LTI has 51.9K fans on Facebook and 14.5K followers on Twitter. </h4>
    </div>
    <div class="vertical"></div>
    <div id="second-press">
        <h3>Larsen and Toubro Infotech is a provider of application development, data security and other IT consulting services.</h3>
        <h4>July 28, 2016</h4>
        <h4>Awarded Project Insight by the Central Board of Direct Taxes (CBDT) to provide comprehensive big data, analytics and surveillance solution across India. This program is one of the largest digital transformation initiatives in the country.</h4>
</div>
 </div>

</body>
    