<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   

   <div class="formrow">
        <div class="formmain">


            <div class="formcard">
                <h2 style="text-align: center; ">Claim Your Request</h2><br><br>
                <form>
                    <div class="formcontainer">

                      
                          
                        
                        <label for="DateOfIncident" class="labels"><b>Date of Incident</b></label><br>
                        <div>
                        <input type="date" id="Incident" name="DateOfIncident"
                              value="2012-07-22"
                            min="2012-01-01" max="2020-12-31">
                        </div><br><br>
                      

                      
                        <label for="ClaimDate" class="labels "><b>Claim Date</b></label><br>
                        <div>
                        <input type="date" id="Incident" name="DateOfIncident"
                              value="2012-07-22"
                            min="2012-01-01" max="2020-12-31">
                        </div><br><br>

                       

                        <label for="Reason" class="labels "><b>Reason for claim</b></label><br><br>
                        <div>
                            <select name="Reason" id="Reason">
                                <option value="Choosereason">choose Reason</option>
                                <option value="NaturalDisaster">Natural Disaster</option>
                                <option value="Man-MadeDisaster">Man-Made Disaster</option>
                                <option value="RoadAccident">Road Accident</option>
                                <option value="Theft">Theft</option>
                              </select>
                        </div><br><br>
                        
                            <label for="Elaborate"><b>Elaborate Reason</b></label><br> 
                            <textarea  type="text" id="reason" name="reason" placeholder="Elaborate your reason" rows="2" cols="20" required>
                            </textarea><br><br> 


                         <button class="buttons " type="submit "><h2>Click here to submit</h2> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>
    
