    body {
        font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
        background-color: steelblue;
        font-size: larger;
    }
    
    .formcard {
        border: 25px outset;
        padding: 15px;
        margin-top: 80px;
        margin-left: 100px;
        margin-right: 200px;
        margin-bottom: 200px;
    }
    
    .formmain {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 80px;
    }
    
    .images {
        width: 500px;
        height: 800px;
    }
    
    .formcontainer {
        padding-right: 16px;
        width: 350px;
        text-align: center;
        font-size: large;
        height: 400px;
    }
    
    .formcontainer1 {
        padding-right: 16px;
        width: 350px;
        text-align: center;
        font-size: large;
        height: 400px;
    }
    
    .formcontainer2 {
        padding-right: 16px;
        width: 350px;
        text-align: center;
        font-size: large;
        height: 650px;
    }
    
    .formcontainer3 {
        padding-right: 16px;
        width: 350px;
        text-align: center;
        font-size: large;
        height: 300px;
    }
    
    .buttons {
        background-color: steelblue;
        color: white;
        padding: 14px 20px;
        margin: 25px 0;
        border: 2px ridge;
        border-radius: 50px;
        cursor: pointer;
        width: 60%;
        font-size: 15px;
    }
    
    .buttons:hover {
        background-color: green;
    }
    
    .buttons:focus {
        outline: none;
    }
    
    .tables {
        background-color: white;
        border: 2px outset;
        border-radius: 20px;
    }
    
    .heading {
        text-align: center;
        margin-top: 50px;
    }
    
    .titleHead {
        text-align: center;
        /*margin-top: 50px;*/
        color: steelblue;
    }
    /* Full-width inputs */
    
    input[type=email],
    input[type=password],
    input[type=number] {
        width: 100%;
        background-color: whitesmoke;
        padding: 20px;
        margin: 8px 0;
        border: 5px outset;
        border-radius: 25px;
        box-sizing: border-box;
        outline: none;
    }
    
    input.ng-invalid.ng-touched {
        border-color: red;
    }
    
    select.ng-invalid.ng-touched {
        border-color: red;
    }
    
    .buttons[disabled] {
        opacity: 0.3;
        cursor: not-allowed;
    }
    
    input:focus,
    select {
        outline: none;
    }