<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="infoRow">
    <div class="infoMain">
        <div class="infoCard">
            <div class="infoContainer">
                <h1 style="text-align: center;"> Our Vehicle Insurance Policies</h1>
                <table>
                    <tr>
                        <td>
                            <div class="infoCells">
                                <ol style="list-style-type: none;">
                                    <li>
                                        <h2 class="titleHead"><b>Third Party Plan</b></h2>
                                    </li>
                                    <p>Third-party insurance is an insurance policy purchased for protection against the claims of another. Third-party insurance covers an individual or firm against a loss caused by some third-party. An example is automobile
                                        insurance that will indemnify the insured if another driver causes damage to the insured's car. The two main categories of third-party insurance are liability coverage and property damage coverage.
                                    </p>
                                    <li>
                                        <h2 class="titleHead"><b>Comprehensive Plan</b></h2>
                                    </li>
                                    <p>A comprehensive car insurance is an all-inclusive car insurance policy that covers you from both third-party damages and losses and own damages. This includes protection from unforeseen losses such as amid an accident,
                                        natural calamity, fire or theft.
                                    </p>
                                    <li>
                                        <h2 class="titleHead"><b>Comprehensive Zero Depreciation Plan</b></h2>
                                    </li>
                                    <p>Zero depreciation insurance cover, also known as Zero Dep policy, is a type of insurance cover which offers complete coverage without factoring in depreciation value of the vehicle. This means that if your car gets damaged
                                        in an accident, you will receive the entire cost from the insurer. </p>


                                </ol>

                            </div>

                        </td>

                    </tr>

                </table>

            </div>

        </div>

    </div>
</div>
<div class="infoRow">
    <div class="infoMain">
        <div class="infoCard">
            <div class="infoContainer">
                <h1 style="text-align: center;"> Our Travel Insurance Policies</h1>
                <table>
                    <tr>
                        <td>
                            <div class="infoCells">
                                <ol style="list-style-type: none;">
                                    <li>
                                        <h2 class="titleHead"><b>Gold Plan</b></h2>
                                    </li>
                                    <p>LTI Insurance Travel Gold Insurance covers unexpected and unplanned medical and non-medical expenses when you are abroad. LTI Insurance Travel Gold Plan provides Cashless Hospitalisation Cover, Coverage for Missed
                                        Flight Connection and Personal Accident cover.
                                    </p>
                                    <li>
                                        <h2 class="titleHead"><b>Platinum Plan</b></h2>
                                    </li>
                                    <p>LTI Insurance Platinum Plan describes, If you become sick or injured while you’re traveling abroad, your regular health insurance probably won’t cover your medical expenses. This is one of the biggest benefits of
                                        the Platinum Plan. Also, the accidental death and dismemberment benefit pays for the loss of limb or life when it happens within 365 days of a travel accident. The plan covers doctor-ordered evacuation expenses
                                        to your home or the nearest appropriate medical facility as well.

                                    </p>
                                    <li>
                                        <h2 class="titleHead"><b>Silver Plan</b></h2>
                                    </li>
                                    <p>LTI Insurance Silver Plan is about Reimburses nonrefundable, unused payments or deposits if you must cancel or interrupt your trip due to an illness, injury, or death of you, a family member, traveling companion
                                        or business partner or other covered reasons.
                                    </p>

                                </ol>

                            </div>

                        </td>

                    </tr>

                </table>

            </div>

        </div>

    </div>
</div>
  <section>
    <div class="container">
      <div class="accordion">
       
        <div class="accordion-item" >
          <div>
          <h3 style="text-shadow: steelblue 2px 2px 10px; font-size: 30px;"><b>LTI INSURANCE FAQs</b></h3><br>
          </div><br>
          
          <div class="faq-container">
            <dl class="faq">
              <dt>
                <button aria-expanded="false" aria-controls="faq1_desc" class ="question">
                 Q :- How can I buy third-party insurance?

                </button>
              </dt>
              <dd>
                <p id="faq1_desc" class="desc">
                  Simply visit LTI Insurance website and start your third-party application online.
                   Provide your details and select your plan and get approved instantly.<a  style="color:Black;"><b>
                    </b> </a>
                </p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq2_desc" class ="question">Q :- Why should I take third-party insurance?

                </button>
              </dt>
              <dd>
                <p id="faq2_desc" class="desc">
                  Paying for the third-party damages can be a huge cost. Having third-party insurance can give the peace of mind and the financial
                   security if you are involved in an accident. Third-party insurance can pay the compensation for injury, disability, the death of 
                   the third party or damage caused to their vehicle or property. <a
                    style="color:Black;"></a>

                </p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq3_desc" class ="question">Q :- When should I initiate the third-party insurance claim after an accident?
                </button>
              </dt>
              <dd>
                <p id="faq3_desc" class="desc">
                  As soon as possible. You can file your claim under the third-party insurance within 60 days from the date of the accident.
                   <a style="color:Black;"></a>
                </p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq4_desc" class ="question">Q :- What is zero depreciation car insurance?

                </button>
              </dt>
              <dd>
                <p id="faq4_desc" class="desc">
                  A zero depreciation car insurance plan is a comprehensive car insurance policy having the zero depreciation add-on added to it. 
                  This policy does not reduce the claim amount because of the depreciation of the car’s parts. In case of a claim, the full cost of
                   the parts repaired or replaced is paid by the policy. 

                </p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq5_desc" class ="question">Q :- How does zero depreciation plan work?
                </button>
              </dt>
              <dd>
                <p id="faq5_desc" class="desc">
                  Under normal comprehensive car insurance plans, the normal wear and tear of the parts of the car which occur due to usage are not covered. 
                  As such, when the parts are damaged and a claim occurs, the insurance company deducts the applicable depreciation from the actual value of the
                   parts of the car. When depreciation is deducted, a lower amount of claim is paid.
                </p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq6_desc" class ="question">Q :- What is not covered under zero depreciation car insurance plans?
                </button>
              </dt>
              <dd>
                <ol id="faq6_desc" class="desc" style = "list-style-type: disc;">
                <p >
                  
                  Following Points are not covered under Zero depreciation Car Insurance plans:
               
                 <li> Damages suffered when you were driving the car without a valid driving license </li> 
                 <li>   Damages suffered when you were driving the car under the influence of intoxicating substances</li> 
                 <li>  Damages suffered when you were driving the car outside India</li> 
                 <li>   Damages suffered when you were using the car in violation of its usage limitations</li> 
               </p>
                </ol>
              
                </dd>

              <dt>
                <button aria-expanded="false" aria-controls="faq7_desc" class ="question">Q :- What is Covered in Comprehensive Car Insurance?</button></dt>
              <dd>
                <p id="faq7_desc" class="desc">
                  A comprehensive car insurance policy protects your car from any unforeseen event except collision. 
                  It also covers for losses incurred during an accident. ... Unlike third-party insurance, 
                  it covers from damages caused to your own car during an accident. 
                </p>
              </dd>

              <dt>
                <button aria-expanded="false" aria-controls="faq8_desc" class ="question">Q :- Which type of Motor Insurance Policy should I buy? </button>
              </dt>
              <dd>
                <p id="faq8_desc" class="desc">Although as per the India Motor Vehicles Act 1988, only ‘motor third-party’ is mandatory, 
                  it’s advisable to take ‘Comprehensive Cover’ insurance policy for complete peace of mind. 
                </p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq9_desc" class ="question">Q :- What is Comprehensive Motor Insurance Policy?
                </button>
              </dt>
              <dd>
                <p id="faq9_desc" class="desc">
                  Comprehensive Motor Insurance or Package Policy covers both damage/loss to your vehicle and damage/loss to third-party caused by your vehicle.
                   Besides, it covers against damage due to fire, riots, lightening, natural disaster or malicious act.</p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq10_desc" class ="question">Q :- What is Gold Travel Insurance Plan?</button>
              </dt>
              <dd>
                <p id="faq10_desc" class="desc">A plan that is perfect for families and international travelers. No matter where you explore, travel insurance is a smart idea.
                   And our Gold Plan is a popular plan for good reason. You’ll not only get 24/7 travel assistance service, but amazing coverage for medical expenses,
                    trip cancellation and interruption, lost baggage, baggage delay, severe weather, strike, and medical evacuations. 
                </p>
              </dd>
              <dt>
                <button aria-expanded="false" aria-controls="faq11_desc" class ="question">Q :- Who is eligible for Gold Travel Insurance ?
                </button>
              </dt>
              <dd>
                <p id="faq11_desc" class="desc">
                  LTI GOld Travel Insurance come with travel insurance for the whole family, which makes your travels safe and convenient.It frees you from having to remember to purchase insurance when going on a trip, 
                  meaning that you can be carefree and take up last-minute offers.  It is not necessary for you to pay for travel expenses with the card for the insurance to be valid. </p>
              </dd>

              





            </dl>
              


          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
